.questions-siderbar{
    background-color:  #EBE9E6;
    padding: 40px 0px 348px 0px;
}
@media (max-width:576px) {
    .questions-siderbar{
        padding: 20px 0px 12px 0px;
    }
    
}


.question-score-main{
    width: 625px;
    margin: auto;
}
@media (max-width:576px) {
    .question-score-main{
        margin: auto 20px ;
        width: auto;
    }
    
}
.questions-score{
    width: 625px;
    height: 165px;
    display: flex;
    border-radius: 12px;
    border: 1px solid  #8F887C;
    background: #4C4B49;
    
}
@media (max-width:576px) {
    .questions-score{
        width: auto;
        height: 218px;
        display: flex;
        flex-direction: column;
    }
    
}

.score-column{
    height: 62px;
    margin: 52px 50px  51px 43px;
}
@media (max-width:576px) {
    .score-column{
        display: block;
        height: 62px;
        margin: 18px 0px 29px 0px;
        text-align: center;
    }
    
}
@media (min-width:576px) {
    
    
}

.score-count{
    color: #F9F7F2;
    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-weight: 600;
}
.score-text{
    color: #F9F7F2;
    font-size: 14px;
    font-weight: 600;
}
.questions-detail{
    width: 406px;
    margin: 55px 41px 52px 0px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:576px) {
    .questions-detail{
        width: auto;
        margin: auto 26px;
        margin-bottom: 26px;
      
    }
}

.unattempted-logo{
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 50%;
    background-color:#E0DFDA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unattempted-icon{
    color: #4C4B49;
    font-size: 18px
}

.unattempted-text,.wrong-text,.correct-text{
    color:  #F9F7F2;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
}

.text1{
    margin-right: 12px;
}
.score-line{
    border: solid 1px #8F887C;
    height: 58px;
}

.correct-logo{
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 50%;
    background-color: #88BE37;
}
.correct-image{
    padding: 0px 0px 11px 7px;
}

.count{
    color: #F9F7F2;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width:576px) {
    .count{
        display: block;
        margin-top: 4px;
    }
    
}
.text{
    margin-right: 7px;
}
@media (max-width:576px){
    .text{
        margin: 0;
    }
}
.wrong-logo{
    width: 28px;
    height: 28px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E68086;
}
.question-headline{
    width: 400px;
    height: 19px;
    margin-top: 67px;
    color: #1F1E1C;
    text-transform: uppercase;
    font-family: "Inria Sans";
    line-height: normal;
    font-size: 16px;
    font-weight: 700;

}
@media (max-width:576px) {
    .question-headline{
        width: 161px;
    }
   
    
}
.question-line{
    width: 621px;
    height: 2px;
    text-align: start;
    margin: auto;
    margin: 27px 0px 50px 0px;
    border: solid 1px #777671;
}
@media (max-width:576px) {
    .question-line{
        width: auto;
    }
    
}