body{
    font-family: Inter;
}
.submit-container{
    background-color: #EBE9E6;;
    padding: 103px 0px 428px 0px;
}
@media (max-width:756px) {
    .submit-container{
       padding: 54px 0px 75px 0px;
    }
    
}
.submit-content{
    margin: auto;
    width: 705px;
    padding: 65px 0px 108px 0px;
    background-color: #FCFAFA;
}
@media(max-width:576px) {
    .submit-content{
        width: 320px;
        padding: 54px 0px 72px 0px;
    }
    
}
.submit-logo{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #88BE37;
    margin: auto;
}
.correct-logo{
    padding: 5px 0px 16px 6px;
}
.submit-intraction{
    width: 319px;
    height: 141px;
    margin: auto;
    margin-top: 22px;
}
.submit-massage{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -0.48px
}
.submit-massage1{
    text-align: center;
    color: #000;
    font-size: 14px;
    margin-top: 36px;
    font-weight: 600;
    line-height: 160%; 
}
.submit-massage2{
    color: hsl(0, 0%, 0%);
    width: 289px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin:12px 9px 0px 23px;
}
.check-score-button{
    text-align: center;
    margin-top: 98px;
}
.check-button{
    width: 222px;
    margin:0;
    padding: 16px 26px;
    color: #1F1E1C;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid  #F4D150;
    background-color:  #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;


}