body{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.main-contanier{
    background-color:  #FCFAFA;
   
} 
.main-header{
    width: 1200px;
    height: 72px;
    margin: auto;
    display: flex;
}
.header-logo{
    margin: 18px 0px 10px 0px;
}

.submit-button{
    width: 130px;
    margin:9px 0px 9px 72px ;
    padding: 12px 35px 12px 35px;
    box-shadow: 0px 4px 7px 0px #B3AE9C;

}

@media (max-width: 576px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .moblie-submit{
        display: block;
    }
    .submit-button1{
        display: block;
        height: 54px;
        width: 130px;
        margin:0px 0px 9px 72px ;
        padding: 12px 35px 12px 35px;
        float: right;
        position: relative;
        bottom: 11px;
    } 
    
    
}

@media (min-width: 576px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    .mobile-timer{
        display: none;
    }
    .submit-button1{
        display: none;
        
    }
}


