body{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.main-contanier{
    background-color:  #FCFAFA;
    display: flex;
    
} 
.main{
    width: 319px;
    display: flex;
    margin-right: auto;
    justify-content: space-between;
}    
.main-header{
    width: 1200px;
    height: 72px;
    margin: auto;
    display: flex;
   
}
.header-logo{
    margin: 18px 0px 10px 0px;
    
}
.button-main a{
   margin-left: 73px;
   text-decoration: none;

}
@media (max-width: 576px) {

    .button-main{
        display: block;
        right: 21px;
        position: fixed; 
        z-index: 1000;
        bottom: 144px;
       
       
    }
}    

.submit-button{
    width: 130px;
    margin:9px 0px 9px 0px ;
    padding: 12px 35px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid  #F4D150;
    background-color:  #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;

}
