body{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.main-contanier{
    background-color:  #FCFAFA;
    display: flex;
    
} 
.main{
    margin-right: auto;
}    
.main-header{
    width: 1200px;
    height: 72px;
    margin: auto;
    display: flex;
   
}
.header-logo{
    margin: 18px 0px 10px 0px;
    
}

.button-main a{
   margin-left: 73px;
   text-decoration: none;

}
@media (max-width: 576px) {
    .main{
        margin:0;
        padding: 18px 0px 18px 0;
        background: var(--Light-a, #FCFAFA);
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.10);
    }

    .button-main{
        display: block;
        right: 21px;
        position: fixed; 
        z-index: 1000;
        bottom: 144px;
          
    }
    .header-logo{
        margin: 0;
        
    }
    .main-header{
        width: auto;
        height: 146px;
        display: block;
        text-align: center;
        margin: 0;
    }    

       
}   

.submit-button{
    width: 130px;
    margin:9px 0px 9px 0px ;
    padding: 12px 35px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid  #F4D150;
    background-color:  #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;

}
