
.mobile-pagination{
    padding: 20px 18px 20px 18px;

}




.mobile-pagination a{
    color: black;
    padding: 7px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid  #E0DFDA;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 14px;
    margin-right: 23px;
    text-decoration: none;
    font-family: "Inria Sans";
    font-size: 14px;
    font-weight: 400;
}
.mobile-pagination a.active{
    background-color:#FEEEB4;
    border: solid 1px #F4D150;
}
.mobile-pagination a.active2{
    background-color:#FEEEB4;
    border: solid 1px #F4D150;
    margin-right: 0px;
}    
.mobile-pagination a.pagination1{
    padding: 0;
    width: 10px;
    height:30px;
    border: none;
    
}
.moblile-pagination a.active1{
    background-color: black;
    color: white;
}
@media(max-width:576px) {

    
    
}