

.siderbar-main{
    background-color:#EBE9E6;


}
.siderbar-contanier{
    width: 1200px;
    margin: auto;
    padding-bottom: 136px;
    display: flex;
    background-color:#EBE9E6;
}
.siderbar-context{
    margin-left: 103px;
    position: relative;
    bottom: 72px;

}
@media (max-width:576px) {

    .siderbar-main{
        background-color:#EBE9E6;
        padding: 23px 0px 219px 0px;

    
    }
    .siderbar-contanier{
        width: auto;
        display: block;
        margin: auto 20px; 
        padding: 0;

        
    }
    .siderbar-context{
        height: 123px;
        margin: 0;
        position: static;
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;

    }
    .siderbar-items{
        height: 123px;
        margin-bottom: 58px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-timer{
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin: 23px 0px 50px 19px;
    }
    
    .filter-button{
        height: 39px;
        width: 104px;
        margin-top: 44px;
        font-family: "Inria Sans";
        font-size: 16px;
        font-weight: 700;
        color: #4C4B49;
        border: none;
        text-transform: uppercase;
        border-radius: 6px;
        border: 2px solid #E0DFDA;
        background:  #FCFAFA;

    }
    .filter-logo{
        margin-right: 12px;
    }
    

    
}
