.timer{
    width:150px ;
    height: 180px;
    margin: 7px 0px 0px 57px;
}
.timer-text{
    text-align: center;
    color: #1F1E1C;
}

@media(max-width:576px) {
    .mobile-timer{
        display: block;
        float: left;
        margin: 23px 0px 0px 19px;
    }
    .timer{
        display: block;
        margin: 0;
    }
    .timer-image{
        display: block;
        width: 106px;
        height: 107px;
    }
    .timer-text{
        display: none;
    }
}


@media(min-width:576px) {
    .mobile-timer{
        display: none;
    }
    
}