.timer{
    height: 180px;
    margin-top: 25px;
}
@media(max-width:576px) {
    .timer{
        margin: 0;
        height: 0;
    }
}
.timer-container{
    width: 141px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#E68086;

}
@media (max-width:576px) {
    .timer-container{
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 23px;

        
    }    
}
.inside-timer{
    width: 121px;
    height: 121px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F9F7F2;

}
@media (max-width:576px) {
    .inside-timer{
        width: 80px ;
        height: 80px;

    }
}
.timer-content{
    width: auto;
    height: auto;
}
.timer-context{
    display: flex;
}
@media (max-width:576px) {
    .timer-context{
        height: 25px;
    }
    
}
.timer-number{
    color: var(--Error, #E68086);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
@media (max-width:576px) {
    .timer-number{
        font-size: 18px;
    }
}
.timer-symbol{
    color: var(--Dark-a, #1F1E1C);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 5px 0px 5px;
    
}
.time-text,.time-text1{
    float: left;
    color:  #1F1E1C;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.time-text{
    margin-left: 5px;


}
@media (max-width:576px) {
    .time-text{
        margin:0;
    }
    
}
.time-text1{
    float: right;
    margin-right: 5px;
}
@media (max-width:576px) {
    .time-text1{
        margin-right: 1px;
    }
}

.timer-text{
    text-align: center;
    color: #1F1E1C;
    font-family: Inter;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    
}

