.timer{
    width:150px ;
    height: 180px;
    margin: 7px 0px 0px 57px;
}
@media(max-width:576px) {
    .timer{
        display: block;
        margin: 0;
    }
}

.timer-text{
    text-align: center;
    color: #1F1E1C;
}


@media(max-width:576px) {
    .timer-image{
        display: block;
        width: 106px;
        height: 107px;
    }
}


