
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}


.header {
    background-color:  #FCFAFA;
    padding:18px 0px 18px 0px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.10);
}
.header-container{
    text-align: center;
}

.main-instraction{
    background-color:  #EBE9E6;
    padding-bottom: 143px;
}
.headline{
    font-weight: 600;
    text-align: center;
    padding: 55px 0px 19px 0px;
    color: var(--Dark-b, #4C4B49);

}
@media(max-width:576px) {
    .headline{
        padding: 40px 34px; 
    }    
}

.instraction-container{
    width: 705px;
    margin: auto;
    padding: 40px 0px 49px 0px;
    background-color:#F9F7F2;
}
@media (max-width:576px) {
    .instraction-container{
        width: 320px;
    }
    
}
.instraction-content{
    width: 471px;
    margin: auto;
}
@media(max-width:576px) {
    .instraction-content{
        width: 280px;
    }
    
}
.context{
    font-size: 18px;
    font-weight: 700;
    color: #4C4B49;

}
@media (max-width:576px) {
    .context{
        text-align: center;
    }
}

.instraction-text{
    margin-top: 16px;
    font-size: 14px;
    color: #4C4B49;
}
.test-instraction{
    width: 475px;
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;
}

@media(max-width:576px) {
    .test-instraction{
        width: 280px;
    }
    
}
.test-url{
    padding-left: 25px;
    margin-bottom: 0;
    color: #4C4B49;

}
.test-rule{
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;

}
.last-instraction{
    margin-top: 8px;
    font-size: 14px;
    color: #4C4B49;

}
.instruction-line{
    width: 620px;
    margin: auto;
    margin-top: 40px;
    border:1px solid  #4C4B49;
}
@media (max-width:576px) {
    .instruction-line{
        width: 280px;
    }
    
}
.click-button{
    text-align: center;
   
}
.click{
    width: 159px;
    margin-top: 39px;
    font-size: 18px;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    padding: 16px 0px 16px 0px;
    border-radius: 4px;
    border: 2px solid  #F4D150;
    background-color:  #FEEEB4;
}

.footer-content{
    height: 171px;
    border: solid 1px pink;
    background-color: #4C4B49;
}
.main-row{
    height: 57px;
    margin-top: 46px;
    margin-bottom: 68px;
}
.footer-text{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #F9F7F2;
}
.footer-headline{
    font-size: 14px;
    text-align: center;
    color: #EBE9E6;
   
} 
@media (max-width: 576px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .submit-button1{
        display: block;
        height: 54px;
        width: 130px;
        margin-bottom: 7px;
        padding: 12px 35px;
        position: fixed; 
        right: 10px;  
        z-index: 1000;
        bottom: 175px;
        border: 2px solid  #F4D150;
        background-color:  #FEEEB4;
        box-shadow: 0px 4px 7px 0px #B3AE9C;
    }
    
}

@media (min-width: 576px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
   
}
